@font-face {
    font-family: nike;
    src: url(/fonts/Futura\ Condensed\ Extra\ Bold.ttf);

}

* {
    
    background-color: lightgrey;
    font-family: 'nike';
}

.nav {
    background-color: rgb(129, 129, 129);
}

.logo {
    height: 50px;
}

